.editor-editable {
    height: 100%;
    min-height: 300px;
    z-index: 20;
}

.editor-main {
    height: 100%;
}

.container-fluid {
    position: fixed;
    top: 65px;
    bottom: 0;
}

.row {
    height: 100%;
}

.navbar {
    margin-bottom: 5px;
    z-index: 10;
}

.navbar .navbar-text {
    margin: 17px 15px;
}

.hallotoolbar {
    z-index: 30;
}