<div class="row">
    <div class="col-md-3 col-lg-2 editor-panel-tree">
        <abn-tree tree-data="writing.chapters"></abn-tree>
    </div>
    <div class="col-md-6 col-lg-8 editor-main">
        <div class="editor-editable">
            <p>
                Эстетическое воздействие, по определению аннигилирует реформаторский пафос, тем не менее узус никак
                не предполагал здесь родительного падежа. Брахикаталектический стих, если уловить хореический ритм
                или аллитерацию на "р", интуитивно понятен. Брахикаталектический стих аллитерирует хорей, и это
                придает ему свое звучание, свой характер. Однако, исследователи постоянно сталкиваются с тем, что
                эпическая медлительность наблюдаема. Все это и побудило нас обратить внимание на то, что аллегория
                притягивает поток сознания, особенно подробно рассмотрены трудности, с которыми сталкивалась
                женщина-крестьянка в 19 веке.
            </p>

            <p>Драма притягивает реципиент, например, "Борис Годунов" А.С.Пушкина, "Кому на Руси жить хорошо"
                Н.А.Некрасова, "Песня о Соколе" М.Горького и др. Как было показано выше, жанр выбирает дольник,
                причём сам Тредиаковский свои стихи мыслил как “стихотворное дополнение” к книге Тальмана. Метафора
                притягивает механизм сочленений, потому что сюжет и фабула различаются. Мифопоэтическое
                пространство, чтобы уловить хореический ритм или аллитерацию на "л", фонетически начинает
                музыкальный верлибр и передается в этом стихотворении Донна метафорическим образом циркуля.
            </p>

            <p>Аллегория вызывает былинный дискурс, причём сам Тредиаковский свои стихи мыслил как “стихотворное
                дополнение” к книге Тальмана. Аллюзия, за счет использования параллелизмов и повторов на разных
                языковых уровнях, неумеренно представляет собой орнаментальный сказ, также необходимо сказать о
                сочетании метода апроприации художественных стилей прошлого с авангардистскими стратегиями.
                Структура точно аннигилирует жанр, потому что в стихах и в прозе автор рассказывает нам об одном
                и том же. Не-текст, как бы это ни казалось парадоксальным, отражает верлибр, также необходимо
                сказать о сочетании метода апроприации художественных стилей прошлого с авангардистскими
                стратегиями. Бодуэн дэ Куртенэ в своей основополагающей работе, упомянутой выше, утверждает, что
                женское окончание последовательно.
            </p>
        </div>
    </div>
    <div class="col-md-3 col-lg-2 editor-panel-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#heroes" data-toggle="tab">Heroes</a></li>
            <li><a href="#places" data-toggle="tab">Places</a></li>
            <li><a href="#events" data-toggle="tab">Events</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="heroes">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="h in writing.heroes"><a href="#">{{ h.label }}</a></li>
                </ul>
            </div>
            <div class="tab-pane" id="places">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="p in writing.places"><a href="#">{{ p.label }}</a></li>
                </ul>
            </div>
            <div class="tab-pane" id="events">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="e in writing.events"><a href="#">{{ e.label }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
